/* Inherit styles from Login.css */
.register-card {
    max-width: 500px;
  }

  .form-row {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
  }

  @media (max-width: 576px) {
    .form-row {
      flex-direction: column;
      gap: 0;
    }
  }
